{% extends "Navbar.html" %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
{% endblock %}

    {%block 'dashboard'%}
    <section style="margin-top: 20px;margin-left: 35px;margin-right: 35px;height: 100%;">
      <div class="container" style="height: 100%;">
        <div class="row" style="height: 100%;">
          <div class="col" style="width: 100%;height: 100%;">
            <div class="card" style="margin: 100px 0px 0px;margin-top: 100px;width: 100%;min-width: 0px;height: 100%;">
              <div class="card-body text-bg-dark" style="height: 100%;">
                <h1 class="text-center card-title">Relatório de Locais</h1><div style="text-align: center;">
                  <div class="table-responsive text-white">
                    <table class="table">
                      <thead>
                        <tr class="text-center">
                          <th class="text-white">Usuário</th>
                          <th class="text-white">Local</th>
                          <th class="text-white">Status</th>
                          <th class="text-white">Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center text-bg-light">
                          <td class="text-center border rounded-0 border-1" style="position: relative;">Abel Gabriel</td>
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">Piscicultura Gabriel</td>
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">Ativo</td>
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">
                            <div class="btn-group btn-group-sm" role="group">
                              <button class="btn btn-primary text-bg-primary" type="button">Editar</button><button class="btn btn-primary" type="button">Deletar</button>
                            </div>
                          </td>
                        </tr>
                        <tr class="text-center text-bg-light">
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">ADENILSON ZANELATTO</td>
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">PISCICULTURA ZANELATTO</td>
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">Bloqueado</td>
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">
                            <div class="btn-group btn-group-sm" role="group">
                              <button class="btn btn-primary text-bg-primary" type="button">Editar</button><button class="btn btn-primary" type="button">Deletar</button>
                            </div>
                          </td>
                        </tr>
                        <tr class="text-center text-bg-light">
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">AILAN JONAS DALMOLIN</td>
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">Piscicultura Dalmolin</td>
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">Ativo</td>
                          <td class="text-center border rounded-0 border-1" style="text-align: center;position: relative;">
                            <div class="btn-group btn-group-sm" role="group">
                              <button class="btn btn-primary text-bg-primary" type="button">Editar</button><button class="btn btn-primary" type="button">Deletar</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div><button class="btn btn-primary text-bg-success" type="button" href="{% url 'locais' %}">Cadastrar novo Local</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    {% endblock %}
  </body>
</html>
